*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Activator
*.iml
*.lock
*.komodoproject
.DS_Store
.history
.idea
.classpath
.cache
.project/
.project
.idea/
.idea_modules/
.settings/
.target/
RUNNING_PID
project/boot/
workspace/
repository/
target/
logs/
.settings
.classpath
.project
.cache
bin/
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
